@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;900&display=swap");

$stroke-color: rgba(0, 0, 0, 0.38);
$bg-color: #fffbff;
$text-color: #495062;

@mixin roboto-condensed($weight, $style) {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: $weight;
  font-style: $style;
}
